# Arquivos de configuração específicos do ambiente
.env

# Dependências instaladas pelo npm

# Arquivos de build ou compilados
/build
/dist

# Arquivos de logs
/logs
*.log

# Arquivos temporários
.tmp
